<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ddg_locationbar</string>
		<key>Title</key>
		<string>DuckDuckGo as default (in Smart Search field)</string>
		<key>Titles</key>
		<array>
  		<string>Yes</string>
  		<string>No</string>
  		<string>Only for queries with '!bang' commands or beginning with '\'</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
    <key>Values</key>
		<array>
      <true/>
  		<false/>
  		<string>bang</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>remember_last_search</string>
		<key>Title</key>
		<string>Remember last search in the popup</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>rightclick</string>
		<key>Title</key>
		<string>Show right click instant answers (when you highlight words)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>nopopups</string>
		<key>Title</key>
		<string>Remove annoying Google marketing popups</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>dev</string>
		<key>Title</key>
		<string>Show debug information</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
